body {
  margin: 0;
  font-family: "Inter Tight", sans-serif;
  background-color: #dad7cd;
}
.container {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
input {
  padding: 15px 25px;
  border-radius: 15px;
  border: 3px solid #344e41;
  background-color: #dad7cd;
}
#submit-btn {
  background-color: #344e41;
  color: #dad7cd;
  font-size: 16px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

#submit-btn:hover {
  background-color: #dad7cd;
  color: #344e41;
}
*:focus {
  outline: none;
  background-color: #dad7cd;
}
::placeholder {
  font-size: 18px;
  color: #344e41;
}
ul {
  list-style-type: disc;
}
li {
  font-size: 16px;
  color: #344e41;
  padding: 8px;
}
li::marker {
  color: #344e41;
}
button {
  margin-left: 10px;
  border: none;
  border-radius: 8px;
  background-color: #780000;
  color: white;
  padding: 3px 6px;
}
