html,
body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Inter Tight", sans-serif;
  background-color: #dad7cd;
}
.container {
  margin: auto;
}
h1 {
  font-size: 45px;
  color: #780000;
  margin-bottom: 10px;
}
form {
  display: block;
}
input {
  padding: 15px 25px;
  border-radius: 15px;
  border: 3px solid #344e41;
  background-color: #dad7cd;
}
#submit-btn {
  background-color: #344e41;
  color: #dad7cd;
  font-size: 16px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

#submit-btn:hover {
  background-color: #dad7cd;
  color: #344e41;
}
*:focus {
  outline: none;
  background-color: #dad7cd;
}
::placeholder {
  font-size: 18px;
  color: #344e41;
}
ul {
  list-style-type: lower-greek;
}
li {
  font-size: 22px;
  color: #344e41;
  padding: 6px;
  font-weight: 600;
}
li::marker {
  color: #780000;
}
button {
  margin-left: 10px;
  border: none;
  border-radius: 8px;
  background-color: #780000;
  color: white;
  padding: 3px 6px;
  cursor: pointer;
  font-size: 14px;
}
